.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  width: 500px;
  min-height: 400px;
  font-size: 1.2rem;
  background-color: white;
}
.header {
  display: flex;
  justify-content: center;
  padding: 2px;
  font-size: 1.6rem;
  padding: 5px;
  width: 100%;
}
.content {
  display: flex;
  justify-content: center;
  padding: 2px;
  width: 90%;
}
.item {
  border: 1px solid var(--hover-color);
}
.title {
  width: 30%;
}
.input {
  width: 70%;
  font-size: 1.2rem;
}
