.wrapper {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: space-between;
  background-color: transparent;
  padding-block: 1px;
  width: 100%;
  line-height: 1.5rem;
}
.header {
  font-weight: 600;
  min-width: 90px;
}
